/* Global */
* {
	margin: 0;
	padding: 0;
	color: white;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

h1 {
	padding: 10px 0;
	margin: 0;
}

img {
	max-width: 100%;
}

::selection {
  background-color: orange;
}

html,
body {
	height: 100%;
}

.all {
	background-color: #222226;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	min-width: 360px;
	position: relative;
}

.content {
	padding-right: 20px;
}

/* Header */
.header {
	display: flex;
	align-items: center;
	background-color: #333336;
	min-height: 50px;
	flex-wrap: wrap;
	z-index: 10;
}

.header > .header__logo {
	display: flex;
}

.header > .header__logo > a > .header__img {
	height: 40px;
	position: relative;
	top: 4px;
	left: 2px;
}

.header > .header__logo > a > .header__img:hover {
	transform: scale(1.05);
	transition: 0.2s;
}

.header > .header__logo > .header__title {
	font-size: 1.6em;
	font-weight: bold;
	margin: 10px;
	position: relative;
	background-image: url(../img/backgrounds/bg.gif);
	background-position: center center;
}

.header > .header__logo > .header__title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
	background: #ff8a00 linear-gradient(to right, #FFC046, #FF4545);
}

.header > .header__logo > .header__title > a {
	text-decoration: none;
}

.header > .header__logo > .header__title > a:hover {
	color: orange;
}

.header > nav > .header__menu {
	list-style: none;
	display: flex;
}

.header > nav > .header__menu > .header__menu-item > a {
	text-decoration: none;
	padding: 15px;
	display: block;
}

.header > nav > .header__menu > .header__menu-item:hover {
	background-color: rgb(90, 90, 90);
}

.header > .header__hamburger_open {
	display: block;
}

.header > .header__nav_visible {
	display: block;
}

/* Page */
.main {
	display: flex;
	width: 1140px;
	margin: 0 auto;
	flex: 1 0 auto;
	box-shadow: 0 10px 16px #000;
	padding-bottom: 10px;
}

.main > .main-left {
	width: 20%;
}

.main > .main-right {
	width: 80%;
}

/* Sidebar */
.sidebar > .sidebar__title {
	text-align: center;
	padding: 10px;
	position: relative;
	font-size: 1.2em;
}

.sidebar > .sidebar__title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
	background: #ff8a00 linear-gradient(to right, #83FF46, #45F8FF);
}

.sidebar > .sidebar__menu {
	list-style: none;
}

.sidebar > .sidebar__menu > .sidebar__menu-item > a {
	text-decoration: none;
	padding: 15px;
	display: block;
}

.sidebar > .sidebar__menu > .sidebar__menu-item > a:hover {
	background-color: rgb(90, 90, 90);
}

.sidebar > .sidebar__menu > .sidebar__menu-item_active > a {
	background-color: rgb(70, 70, 70);
}

.all > .sidebar-open {
	display: none;
	width: 80px;
	height: 80px;
	background-image: url(../img/icons/sidebar-open.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 75%;
	background-color: #FF5A00;
	border: 5px solid white;
	border-radius: 50%;
	position: fixed;
	left: 10px;
	bottom: 10px;
	z-index: 10;
	box-shadow: 0 0 10px black, 0 0 20px black;
}

.main-left_visible {
	display: block            !important;
	position: absolute        !important;
	left: 0                   !important;
	z-index: 5                !important;
	width: 250px              !important;
	background-color: #222226 !important;
	height: calc(100% - 88px) !important;
	box-shadow: 5px 0 10px 5px black;
}

.main-left_narrowed {
	height: calc(100% - 100px) !important;
}

/* Slider */
.slider {
	text-align: center;
	background-color: black;
	position: relative;
}

.slider > img {
	height: 300px;
	user-select: none;
}

.slider > .slider__arrow1,
.slider > .slider__arrow2 {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	background-image: url(../img/icons/arrow.png);
	width: 50px;
	height: 60px;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 70% 50%;
	cursor: pointer;
	background-color: rgba(50, 50, 50, 0.5);
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
}

.slider > .slider__arrow1 {
	transform: rotate(180deg) translate(0, 50%);
	left: 0;
}

/* Footer */
.footer {
	flex: 0 0 auto;
	background-color: #333336;
	padding: 10px;
	z-index: 10;
}

/* Media query's */
@media screen and (max-width: 1200px) {
	.main {
		width: 960px;
	}
}

@media screen and (max-width: 992px) {
	.main {
		width: 720px;
	}

	.main > .main-left {
		display: none;
	}

	.main > .main-right {
		width: 100%;
	}

	.all > .sidebar-open {
		display: block;
	}

	.content {
		padding-left: 20px;
	}
}

@media screen and (min-width: 993px) {
	.main > .main-left {
		display: block;
	}

	.main-left_visible {
		display: block   !important;
		position: static !important;
		width: 20%       !important;
		height: auto     !important;
		box-shadow: none !important;
	}
}

@media screen and (max-width: 768px) {
	.main {
		width: 540px;
	}

	.slider img {
		height: 250px;
	}

	.header > nav {
		display: none;
	}

	.header {
		position: relative;
		display: block;
	}

	.header > .header__menu {
		justify-content: space-between;
	}

	.header > nav > .header__menu > .header__menu-item {
		flex-grow: 1;
		text-align: center;
	}

	.header > .header__hamburger {
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;

		width: 30px;
		height: 30px;
		background-image: url(../img/icons/menu-open.png);
		background-size: 100% 90%;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.header > nav > .header__menu > .header__menu-item > a {
		padding: 15px 0;
	}
}

@media screen and (min-width: 769px) {
	.header {
		display: flex !important;
	}

	.header > nav {
		display: flex !important;
	}

	.main-left_narrowed {
		height: calc(100% - 88px) !important;
	}
}

@media screen and (max-width: 576px) {
	.main {
		width: 100%;
	}

	.slider img {
		height: 200px;
	}
}