select,
option {
	color: black;
}

.game .game__content {
	display: flex;
	flex-wrap: wrap;
}

.game .game__settings-item:not(:first-child) {
	margin-top: 10px;
}

.game .game__table {
	margin: 5px 20px 20px 0;
	border-collapse: collapse;
	font-size: 3rem;
}

.game .game__table-cell {
	background-color: #333336;
	text-align: center;
	width: 90px;
	height: 90px;
	border: 1px solid black;
	cursor: pointer;
}

.game .game__table-cell:hover {
	background-color: #434347;
}

.game #difficulty {
	border-radius: 2px;
	height: 25px;
	width: 140px;
}

.game #difficulty[disabled] {
	background-color: #ABABAB;
}